body {
  font-family: 'Space Grotesk', sans-serif;
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.site-header .navbar-nav .nav-link {
  color: aqua;
}

.site-header .navbar-nav .nav-link:hover {
  color: white;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

/* Media Styles for Account Section */
.media {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
  margin-bottom: 20px; /* Space below */
}

.account-img {
  height: 125px; /* Adjusted size */
  width: 125px; /* Adjusted size */
  border-radius: 50%; /* Make it circular */
  margin-right: 20px; /* Space between image and text */
}

.account-heading {
  font-size: 2rem; /* Adjust font size for heading */
  margin: 0; /* Remove default margin */
}

.text-secondary {
  margin: 0; /* Remove default margin for email */
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .content-section {
    padding: 15px;
    margin-bottom: 15px;
  }

  .media {
    flex-direction: column; /* Stack vertically on small screens */
    align-items: center; /* Center items */
    text-align: center; /* Center text */
  }

  .account-img {
    margin-bottom: 10px; /* Space below image */
  }
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.modal-backdrop {
  z-index: 0 !important;
}
